.title {
  color: #FD2D01;
  font-size: larger;
  text-align:left;
  width: 100%;
}

.headerPost{
  display: flex;
  flex-direction: column;
  margin-left: -150px;
}

.pencilButton {
  background-color: #4E5166;
  color: whitesmoke;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;

}

.trashButton {
  background-color: #FD2D01;
  color: whitesmoke;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
  margin: 20px;
  cursor: pointer;

}

.likeButton {
  background-color:#4E5166;
  color: whitesmoke;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;

}

.imageUrl {
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.input {
  margin: 10px;
  color: #FD2D01;
}